* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI',sans-serif ;
}
html{
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    overflow: scroll;
    background: linear-gradient(#2b1055,#7334d6);
}
.logo {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.nav-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 110;
}
.nav-header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-header ul li {
    list-style: none;
    margin-left: 20px;
}
.nav-header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #ffffff;
    border-radius: 20px;
    }
.nav-header ul li a:hover, header ul li a.active {
    background: #ffffff;
    color:  #2b1055;
}
.home{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items:  center;
    overflow: hidden;
}
.home::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, transparent) ;
    z-index: 120;

}
.home img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
.home img#moon {
    mix-blend-mode: screen;
}
.home img#sdMount{
    transform: scale(1.1);
    z-index: 10;
}
.home img#bgMount{
    transform: scale(1.1) translateY(70px);
}
#welcome {
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    font-size: 1.5em;
    z-index: 9;
}
.content-container{
    background: url(/assets/background.png);
    position: relative;
    overflow: hidden;
}
.content-title{
    text-align: center ;
    position: relative;
    padding: 30px;
    color: #ffffff;
}
.content-title h2{
    padding-top: 10px;
    color: #6640a3;
}
.article-content{
    padding: 25px;
    display: flex;
    justify-content: center;
}
.item{
    display: flex;
    flex-direction: column;
}
.item-article{
    padding: 10px;
    margin-right: 20px;
    max-width: auto;
    height: 500px;
    background-color: #ffffff;
    border-radius: 20px;
}
.desc-item{
    color: #fff;
    padding: 10px;
    width: auto;
    margin-right: 20px;
    border-radius: 20px;
    text-align:justify;
    vertical-align: middle;
    padding-top:40px;
}
.yt-holder{
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.form-container{
    padding: 10px;
    max-width: 450px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 20px;
}
input{
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
 }
 textarea{
    display: inline-block;
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    padding: 12px;
    border-radius: 3px;
    resize: none;
 }
 textarea:is(:focus, :valid){
    border-color: #ccc;
 }
.package h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: 7334d6;
}
.package {
    color: #fff;
    position: relative;
    padding: 100px;
    background: 7334d6;
}
.foot{
    text-align: center;
    color: white;
}
.contact {
    color: white;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 110;
    background: #2b1055;
}
.contact ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact ul li {
    list-style: none;
    margin-left: 20px;
}
.contact ul li{
    text-decoration: none;
    padding: 6px 15px;
    color: #ffffff;
    border-radius: 20px;
    background-color: white;
}